.app__footer{
    width: 100%;
    align-items: center;
    justify-content: center;
    

    .img-grid{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;

        
    }
    .img-wrap{
        width: 400px;
        height: 250px;
        margin: 1rem;
        border-radius: 20px;
        

        img{
            width: 100%;
            display: block;
            object-fit: cover;
            height: 100%;
            filter: grayscale(1);
        }
    }


    

}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    img{
        display: block;
        margin: 80px auto;
        border: 2px solid #000;
        width: 80%;
        height: 70%;
    }
}

.copyright{
    display: none;
}
