.app__testimonial{
    flex: 1;
    flex-direction: column;
    width: 100%;

}
.app__testimonial-item{
    max-width: 80%;
    min-width: 70%;
    min-height: 350px;
    background-color: var(--gray-color);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba($color: #000000, $alpha: 0.2);

    .app__testimonial-img{
        width: 80%;
        height: 60%;
        justify-content: flex-start;
        margin: 0 0 2rem 0;

       
        
        
        img{
            width: 100%;
            height: 100%;
            
           
        }
    }
}

.app__testimonial-brands{
    width: 80%;
    flex-wrap: wrap;
    margin-top: 2rem;
    align-items: center;
    div{
        width: 150px;
        margin: 1.5rem;

        img{
            width: 100%;
            object-fit: cover;
            height: auto;
            filter: grayscale(1); 
        }
        &:hover{
            img{
                filter: grayscale(0)
            }
        }
         
    }
}
.app__testimonial-content{
    flex: 0.65;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    align-items: flex-start;
    position: relative;
    p{
        font-size: .9rem;
        color: var(--black-color);

    }
    h4{
        font-weight: 600;
        color: var(--secondary-color);
        margin-top: 2rem;
    }
    h5{
        font-weight: 400;
        color: var(--gray-color);
    }
    .app__testimonial-btns{
        position: relative;
        display: flex;
        justify-content: space-between;
        svg{
            
        }

    }
}